.navbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
}
.navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__left {
}
.navbar-menu {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.navbar-menu__item {
}
.navbar__right {
}
.navbar__search {
}
.navbar__input {
    height: 3rem;
    font-size: 1.8rem;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid black;
    outline: none;
}
.navbar__input:focus {
    outline: none;
    border: 1px solid blue;
}
